<!DOCTYPE html>
<html>
<head>
	<title>List of all notes</title>
	<link rel="shortcut icon" href="images/icon.png">
	<style type="text/css">
		body{
            text-align: center; 
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            background-color: #51c19e ;
        }
        p{
            font-size: 1.5vw ;
        }
        ul li{
        	padding: 20px ;
        	font-size: 1.5vw;
        }
        ul{
        	list-style-type: circle;
        }a{
        	text-decoration: none ;
        }
        .c1{
            color: green ;
        }
        .c2{
            color: yellow ;
        }
        .c3{
            color: red;
        }
        a:hover{
        	color: white ;
        	transition-duration: 0.3s ;
        }
        @media only screen and (max-device-width : 700px){
            h1{
              font-size: 10vw ;
            }
            .note{
              width:75% ;
              font-size: 4vw ;
              height: 40%;
            }
            p, input,ul li{
              font-size: 6vw ;
            }
            input{
            border-radius: 10px ;
          }
        }
	</style>
</head>
<body>
<p>Here is the list of notes:</p>
<p><input type="button" class="sort" value="Sort"> (High priority on the top)</p>
 <ul class="listHolder">
	 <% for (var i=0 ;i<notes.length ;i++){ %>
	 <li> <a href="/show/<%=notes[i]['_id']%>" class="c<%=notes[i]['priority']%>"> <%= notes[i]['content'] %> </a></li>
	 <%}%>
 </ul>
 <script type="text/javascript">
     var sort = document.querySelector('.sort') ;
     var listHolder = document.querySelector('.listHolder') ;
     sort.onclick = function(){
        var lists = document.querySelectorAll('ul li')
        listHolder.innerHTML = "";
        for(var i=0 ;i <lists.length ; i++){
            var priority = lists[i].childNodes[1].getAttribute('class').slice(1) ;
            console.log(priority)
            if(priority == 3)
               listHolder.appendChild(lists[i])
        }
        for(var i=0 ;i <lists.length ; i++){
            var priority = lists[i].childNodes[1].getAttribute('class').slice(1) ;
            console.log(priority)
            if(priority == 2)
               listHolder.appendChild(lists[i])
        }
        for(var i=0 ;i <lists.length ; i++){
            var priority = lists[i].childNodes[1].getAttribute('class').slice(1) ;
            console.log(priority)
            if(priority == 1)
               listHolder.appendChild(lists[i])
        }

     }
 </script>
</body>
</html>