<!DOCTYPE html>
<html>
  <head>
    <title>NotesEasy</title>
    <link rel="shortcut icon" href="images/icon.png">
    <style type="text/css">
      body{
        text-align: center; 
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        background-color: #51c19e ;
      }
      p{
        font-size: 2vw ;
      }
      a{
        text-decoration:none;
      }
      @media only screen and (max-device-width : 700px){
            h1{
              font-size: 10vw ;
            }
            .note{
              width:75% ;
              font-size: 4vw ;
              height: 40%;
            }
            p, input{
              font-size: 6vw ;
            }
            input{
            border-radius: 10px ;
          }
          }
    </style>
  </head>
  <body>
      <p>View the <a href="/list">list</a> of notes saved.</p>
      <p><%= message %></p>
  </body>
</html>
